
{% extends "base.html" %}

{% block content %}
<style>
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
        padding: 20px;
    }

    input[type="text"] {
        padding: 10px;
        font-size: 16px;
        border: 2px solid #e3e1e1;
        border-radius: 4px;
        margin-right: 10px;
        transition: border-bottom-color 0.3s ease-in-out;
    }

    input[type="text"]:focus {
        outline: none;
        border-bottom-color: #e3e1e1;
    }

    button[type="submit"] {
        background-color: #0096c7;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    button[type="submit"]:hover {
        background-color: #108eb8;
    }
</style>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ login_form.as_table }}
        </table>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
{% endblock %}